<h2>O nas</h2>
<%= image_tag 'komp.png', alt: 'image-1', style: "float: right;" %>
<p>
Naszym celem jest naprawa twojego PC i laptopa w jak najkrótszym okresie czasowym. Oferujemy także specjalną opcję "super pilne!" dla krytycznych sytuacji, aby zapewnić powrót "online" twojego życia/biznesu.
</p>

<p>
Nasi doświadczeni inżynierowie potrafią naprawić zarówno proste usterki jak i najtrudniejsze komponenty. Specjalizujemy się w naprawach PC, latpopów, odzyskiwaniu danych i haseł oraz napraw iPhone czy tabletów. Posiadamy duży warsztat i kilkanaście doświadczonych inżynierów.
</p>
