<div id="comments">

<h2 id="zklienci">Nasi zadowoleni klienci</h2>
<h3 id="opinie">
  Opinie naszych zadowolonych klientów o nas.<br/>
Chcesz podzielić się z nami komentarzem?
<%= link_to 'Skontaktuj się z nami', contact_path %>, a my zamieścimy tutaj komentarz.
</h3>

<blockquote>
  <p class="quote">Jestem zadowolony z usług i zawsze miłej komunikacji.</p>
  <p class="name">Tobiasz Rutkowski</p>
</blockquote>

<blockquote>
  <p class="quote">Chciałem podziękować za bardzo sprawną naprawę mojego laptopa Samsung. Było to warte każdego wydanego grosza na bardzo uczwiwą opłatę.</p>
  <p class="name">Mirosław Sobczak</p>
</blockquote>

<blockquote>
  <p class="quote">Oddałem PC w poniedziałek. We wtorek komputer był naprwaiony. Bardzo profesjonalna obsługa. Rozsądny koszt oraz miła i pomocna obsługa.</p>
  <p class="name">Anna Jasińska</p>
</blockquote>

<blockquote>
  <p class="quote">Wentylator i radiator w moin laptopie HP przestał działać, serwis wymienił te części szybko i sprawnie za niską cenę.</p>
  <p class="name">Mariusz Dudek</p>
</blockquote>

</div><!-- /comments -->
