<div id="contact">

<h2 id="kontakt">Skontaktuj się z nami</h2>

<%= render :partial => 'contact_form' %>

<div id='ct-table'>

<table class="table table-striped">
  <tbody id="ct-cells">
    <tr>
      <th>Adres</th>
      <td>
      Mieczysława Medweckiego 13<br>
      31-870 Kraków<br>
      <%= link_to 'zobacz na Google Steet', "https://www.google.pl/maps/place/Restauracja+McDonald's/@50.0738709,20.016918,17z/data=!4m7!1m4!3m3!1s0x4716452461f40841:0x5a13d41476ede101!2zYWwuIEphbmEgUGF3xYJhIElJLCBLcmFrw7N3!3b1!3m1!1s0x0000000000000000:0xe5c3f23d40d82f2e?hl=pl" %>
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td>pcrepair@example.com</td>
    </tr>
    <tr>
      <th>Telefon</th>
      <td>600 490 XXX</td>
    </tr>
    <tr>
      <th>Godz. Otwarcia</th>
      <td>Pn - Pt: 7-16<br/>
      Sb: 8-15
      </td>
    </tr>
  </tbody>
</table>

</div><!-- /ct-table -->

</div><!-- /contact -->
