<div class='contact-details'>
  <p>Adres:<br>
  Mieczysława Medweckiego 13<br>
  31-870 Kraków<br>
  <%= link_to 'zobacz na Google Steet', "https://www.google.pl/maps/place/Restauracja+McDonald's/@50.0738709,20.016918,17z/data=!4m7!1m4!3m3!1s0x4716452461f40841:0x5a13d41476ede101!2zYWwuIEphbmEgUGF3xYJhIElJLCBLcmFrw7N3!3b1!3m1!1s0x0000000000000000:0xe5c3f23d40d82f2e?hl=pl" %>
  </p>
  <p>
  email:<br>
  pcrepaircentre@gmail.com<br>
  </p>
  <p>
  Tel:<br>
  600 490 955<br>
  </p>
  <p>
  Godz. otwarcia:<br>
  Pon - Pt: 8 - 16<br>
  Sob: 10 - 15<br>
  </p>
</div>

<%= render :partial => 'contact_form' %>
