<div class="services">

<ul class="services">Nasze usługi:
  <li>Brak obrazu</li>
  <li>Odzyskiwanie danych</li>
  <li>Przywracanie ustawień fabrycznych</li>
  <li>Windows Vista, 7, 8, 10</li>
  <li>Naprawa telefonów komórkowych</li>

  <li>Transfer danych</li>
  <li>Usuwanie Spyware</li>
  <li>iPhone / iPad / iPod</li>
  <li>Naprawa Mac-ów</li>

  <li>Naprawa Tabletów</li>
  <li>Instalowanie oprogramowania</li>

  <li>Problemy z drukarką</li>
  <li>Problemy z ładowaniem</li>
  <li>Mac OS X</li>
  <li>Upgrade</li>
  <li>Problemy z Audio</li>
</ul>

</div>
