// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.panel-footer{
  background-color: #1B1B1B;
  color: white;
}

p.name{
  font-weight: bold;
}

p.quote{
  font-style: italic;
  text-align: justify;
}

div.bigger-font{
  font-size: 1.125em;
}

ul.services{
  li.full{
    background: transparent url('tick.png') no-repeat scroll left center / 16px auto;
    list-style: outside none none;
    text-indent: 25px;
    line-height: 50px;
  }
  li{
    background: transparent url('tick.png') no-repeat scroll left center / 16px auto;
    list-style: outside none none;
    text-indent: 25px;
    line-height: 25px;
  }
}

//index

div.welcome{
  text-align: center;
  height: 220px;
  background: transparent url('win-mac2.png') no-repeat scroll 90% center / 110px auto;
}

div#min-services{
  height: 200px;
  padding: 10px;
}

div#one-comment{
  margin-top: 15px;
}

div#video{
  margin: 50px 0px 50px 0px;
}

//about

div#about{
  height: 630px;
  margin-bottom: 75px;
  width: 90%;
}

h2#h2ab{
  margin-bottom: 50px;
  text-align: center;
}

div#bigger-font{
  font-size: 1.125em;
  line-height: 2.0;
  padding: 15px 0px;
}
//services

div#services{
  height: 630px;
  margin-bottom: 75px;
}

h2#services{
  margin-bottom: 50px;
  text-align: center;
}

//comments

div#comments{
  margin-bottom: 75px;
}

h2#zklienci{
  text-align: center;
  margin-bottom: 50px;
}

h3#opinie{
  margin-bottom: 50px;
  line-height: 1.5;
}

//contact

div#contact{
  height: 630px;
  margin-bottom: 100px;
}

h2#kontakt{
  padding-left: 50px;
  margin-bottom: 50px;
}

div#form-wstep{
  margin-bottom: 15px;
}

div#contact-form{
  float: left;
  width: 370px;
  margin-right: 50px;
}

div#ct-table{
  float: left;
  width: 40%;
  table tbody tr{
    th{padding: 15px;}
    td{padding: 15px;}
  }
}
