// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer{
//  border: 5px solid green;
//  clear: left;
//  position: absolute;
//  z-index: 1;
  bottom: 0%;
  width: 100%;
  background: #000;
  color: white;
  font-size: 0.75em;
  height: 50px;
  padding: 10px;
}

p.name{
  //font-size: 0.625em;
  font-weight: bold;
}

p.quote{
  font-style: italic;
}
