// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer{
//  z-index: 1001;
//  position: absolute;
//  bottom: 0%;
//  width: 100%;
  //background: #3B3C36;
//  color: white;
//  font-size: 0.75em;
//  height: 150px;
//  padding: 10px;
//  height: 20%;
}

div.panel-footer{
  background-color: #1B1B1B;
  color: white;
}

p.name{
  font-weight: bold;
}

p.quote{
  font-style: italic;
}

ul.services{
  li.full{
    background: transparent url('tick.png') no-repeat scroll left center / 16px auto;
    list-style: outside none none;
    text-indent: 25px;
    line-height: 50px;
  }
  li{
    background: transparent url('tick.png') no-repeat scroll left center / 16px auto;
    list-style: outside none none;
    text-indent: 25px;
    line-height: 25px;
  }
}

//index

div.welcome{
  text-align: center;
  height: 220px;
  background: transparent url('win-mac2.png') no-repeat scroll 90% center / 110px auto;
}

div#min-services{
  height: 150px;
}

div#one-comment{
  margin-top: 15px;
}

div#video{
  margin: 50px 0px 50px 0px;
}

//about

div#about{
  height: 630px;
}
