<footer>
<div class="panel-footer">
© 2015 Computers Ltd. All Rights Reserved.

Company Number 8981075. <%= link_to "Site by M.Dziurzyński.",
                                    'http://mdziurzynski.herokuapp.com/' %>

</div>
</footer>
